<article id="detail">
  <section>
    <%if (info.attributes.titles.en_jp === undefined) { %>
      <img src="<%= info.attributes.posterImage.small %>" alt=" <%= info.attributes.titles.en_cn %>">
      <p><%= info.attributes.titles.en_cn %></p>
    <% } else { %>
      <img src="<%= info.attributes.posterImage.small %>" alt=" <%= info.attributes.titles.en_jp %>">
      <p><%= info.attributes.titles.en_jp %></p>
    <% } %>
  </section>
  <section>
    <p><%= info.attributes.description %></p>
    <p><%= info.attributes.startDate %></p>
  </section>
<a id="button" href="/"><span>Back</span></a>
</article>