<%- include('partials/head') %>
<%- include('partials/header.ejs') %>
<!-- <img src="static/test.png"> -->



<% shows.data.map((key) => { %>
    <a href="#detail/<%= key.id %>">
    <article>
      <img src="<%= key.attributes.posterImage.small %>}" alt="<%= key.title %>">
      <p><%= key.attributes.titles.en_jp %></p>
    </article>
  </a>
<% }) %>


<% include('partials/footer.ejs') %> 